/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2016, 11:06:11 AM
    Author     : chuck1
*/

#container {
		margin: 10px;
}

/* base_header rules start */
.navbar-inverse .navbar-brand 
{
    color: #ccc;
}   

.navbar-inverse .navbar-nav > li > a 
{
    color: #bbb;
}

.navbar-right 
{
    position: relative;
    left:5%;
}

#hdr_login
{
    position: relative;
    left:0%;
}

#hdr_logout 
{
    position: relative;
    left:5%;
}

#forgot_password
{
    position: relative;
    left:0%;
}

#change_password
{
   position: relative;
   left:5%;
}
    
/* base_header rules end */

/* forms rules begin */
label, i
{
    font-weight:500;
    font-size: 12px;
    color: #888;
}

.checkbox
{
    position: relative;
    left: 20px;
}
/* forms rules end */